[core]
	editor = vim
[user]
	name = Jonny Petraglia
	email = jpetraglia@inspirato.com
[diff]
	tool = kompare
[merge]
	ff = no
	tool = kdiff3
	verbosity = 2
[init]
	templatedir = ~/.git-templates
	defaultBranch = main
[cola]
	spellcheck = true
	tabwidth = 4
[credential]
	helper = store
[alias]
	Alias = config --get-regexp alias
	Merge = merge --no-edit
	Unstage = reset HEAD --
	Br = branch --show-current
	S = status
	Commit = commit -m
	Branchoff = checkout -b
	L = log
	L1 = log -n1